* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
    text-align: center;
    padding: 20px;
}

h2 {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

h3 {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
}

h4 {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
}

h5 {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

h6 {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;  
    color: #000000;
}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-align: center;
    margin: 0 auto;
    max-width: 960px;
}

hr {
    border: 3px solid #F2668B;
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}

ul {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    padding: 30px;
}

ol {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    padding: 30px;
}

button {
    background: #03A688;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

button:hover {
    background: #026873;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

button:active {
    background: #011F26;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

a:link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #03A688;
    text-decoration: none;
}

a:visited {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: none;
    color: #03A688;
}

a:hover {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: none;
    color: #F2668B;
}

ul li a:link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #03A688;
    text-decoration: none;
}

ul li a:hover {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: none;
    color: #03A688;
}

ul li a:visited {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: none;
    color: #03A688;
}

.logo-text {
    padding: 20px;
    color: white;
}

nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #011F26;
    top: 0;
    position: sticky;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-right: 80px;
}

/* container styling for page content */
.page-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px 40px;
    justify-items: center;
    margin-top: auto;
    margin-bottom: auto;
    padding: 40px;
}

.experience-list-item-left {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 120px 40px;
    justify-items: center;
    padding: 80px;
}

.experience-list-item-right {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 120px 40px;
    justify-items: center;
    padding: 80px;
}

/* container styling for images at bottom of main page */
.images-of-me {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
    justify-items: center;
    padding: 40px;
}

img {
    width: 350px;
    height: auto;
}

section {
    margin-top: auto;
    margin-bottom: auto;
    padding: 40px;
}

figure {
    text-align: center;
}

/* container styling for navbar current page */
ul li a.current-page {
    color: #F2668B;
}

/* used to make larger photos */
.big-photo {
    width: 550px;
    height: auto;
}

@media only screen and (max-width: 510px) {
    .home-content {
        display: grid;
        grid-template-columns: 1fr;
    }

    .logo-text {
        display: none;
    }

    nav {
        grid-template-columns: 1fr;
    }

    nav ul {
        padding-right: 20px;
    }

    ul li a:link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 23px;
        color: #03A688;
        text-decoration: none;
    }
    
    ul li a:hover {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 23px;
        text-decoration-line: none;
        color: #03A688;
    }
    
    ul li a:visited {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 23px;
        text-decoration-line: none;
        color: #03A688;
    }

    ul li a.current-page {
        color: #F2668B;
    }
}